<div class="jumbotron">
  <div class="container">
  <h1 align="center">Welcome To Picshare, Signup Now!</h1>
  <h3 align="center">Its the best place to share your photos</h3>
  <div align="center">
  <%= link_to "Click Here To Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
</div>
</div>
</div>